<div class="container-fluid bg-cover text-white d-flex justify-content-center align-items-center" style="background-image: url('/assets/about_img.jpg'); background-position: center center; background-repeat: no-repeat; background-size: cover; text-align: center; height: 80vh;">
  <div class="container about-box">
    <div class="plate mx-auto mb-5" id="cork">
      <h1><span>About</span></h1>
    </div>
    <p>
      ながのCAKEは全国発送可能なケーキやさんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </p>
  </div>
</div>
