<div class="container mt-3">
  <div class="row">
    <h4 class="text-black">会員一覧</h4>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td>
            <%= link_to "#{customer.last_name} #{customer.first_name}", admin_customer_path(customer.id) %>
          </td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_active == true %>
              <span class="text-success font-weight-bold align-middle">有効</span>
            <% else %>
              <span class="text-secondary font-weight-bold align-middle">退会</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row justify-content-center">
    <%= paginate @customers %>
  </div>
</div>